*.log
*.pot
*.pyc
__pycache__/
local_settings.py
venv/
pgstart
pgstop
.idea/
/backups/
/docs/
pgprod
static/AdminLTE
static/admin-lte
static/admin
static/bootstrap
static/common
static/external
static/icheck
static/font-awesome
static/jquery