{% extends 'adminlte/lib/_main_sidebar.html' %}

{% load static %}
{% load adminlte_helpers %}

{% block user_panel %}
    <div class="user-panel">
        <div class="pull-left image">
            {#            <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">#}
            <img src="{% static 'vk.png' %}" class="img-circle" alt="User Image">

        </div>
        <div class="pull-left info" style="white-space: normal">
            <p>{% firstof request.user.get_full_name request.user.username %}</p>
        </div>
    </div>
{% endblock %}

{% block nav_links_outer %}
    <li>
        <a href={% url "marks" %}>
            <i class="fa fa-paper-plane-o"></i> <span>Журнал</span>
        </a>
    </li>
    <li>
        <a href={% url "index" %}>
            <i class="fa fa-line-chart"></i>&nbsp;
            <span>
                Главная
            </span>
        </a>
    </li>
    <li>
        <a href={% url "students" %}>
            <i class="fa fa-cab"></i>&nbsp;
            <span>
                Студенты
            </span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-group"></i> <span>Журнал взвода</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% for squad in squad_list %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>{{ squad.code }}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        {% if squad.subjects %}
                            {% for subj in squad.subjects %}
                                <li>
                                    <a href="{% url 'marks_squad' squad_code=squad.code %}">
                                        <i class="fa fa-user"></i> {{ subj.short }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a href="{% url 'marks_squad' squad_code=squad.code %}">
                                    <i class="fa fa-question"></i> добавить предметы...
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock nav_links_outer %}
