{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th colspan="2">

                    </th>
                    <th colspan="{{ total.avg_marks|length }}" class="text-center">
                        Текущие оценки
                    </th>
                    <th colspan="4" class="text-center">
                        Пропуски занятий
                    </th>
                </tr>
                <tr>
                    {#<th>номер</th>#}
                    <th class="min-col">отделение</th>
                    <th>ФИО</th>
                    {% for subj in subjects %}
                        <th class="text-center">{{ subj.short }}</th>
                    {% endfor %}
                    <th class="min-col">Ув.</th>
                    <th class="min-col">Неув.</th>
                    <th class="min-col">Наряд</th>
                    <th class="min-col">Всего
                </tr>
                </thead>
                <tbody>
                {% for unit in unit_rows %}
                    {% for row in unit.rows %}
                        <tr>
                            <td>
                                {{ row.student.unit }}
                            </td>
                            <td>
                                <a href="{% url 'student' student_id=row.student.id %}">                                 {{ row.student.short }}
                                </a>
                            </td>
                            {% for mark in row.avg_marks %}
                                <td class="min-col text-center">
                                    {% if mark %}
                                        {{ mark|floatformat:2 }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                               {{ row.attendance.absent }}
                            </td>
                            <td>
                                {{ row.attendance.truant }}
                            </td>
                            <td>
                                {{ row.attendance.duty }}
                            </td>
                            <td>
                                {{ row.attendance.total }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            {#                            <b>#}
                            Итого по {{ unit.unit }} отделению:
                            {#                            </b>#}
                        </td>
                        {% for total in unit.subtotal.avg_marks %}
                            <td class="text-center">
                                <b>
                                    {{ total|floatformat:2 }}
                                </b>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <b>
                            Итого по взводу:
                        </b>
                    </td>
                    {% for t in total.avg_marks %}
                        <td class="text-center">
                            {{ t|floatformat:2 }}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
