{% block table %}
    <table id="marks">
            <caption>First Way</caption>
        <tr>
            <th>ff</th><th>gg</th><th>hh</th><th>jj</th>
        </tr>
            <tr>
                <th>Header 1</th>
                <td>data</td><td>data</td><td>data</td>
            </tr>
            <tr>
                <th>Header 2</th>
                <td>data</td><td>data</td><td>data</td>
            </tr>
            <tr>
                <th>Header 2</th>
                <td>data</td><td>data</td><td>data</td>
            </tr>
        </table>
{% endblock %}