{% block table %}
    <table id="marks" class="table table-striped">
        <thead>
        <tr>
            <th>
                {{ subject.name }}
            </th>
            {% for x in header %}
                <th>{{ x.display }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <form>
            {% for row in cells %}
                <tr>
                    {% for elem in row %}
                        {% if forloop.counter == 1 %}
                            <th class="col-xs-12">
                                {{ elem.display }}
                            </th>
                        {% else %}
                            <td class="col-xs-1">
                                <label>
                                    <input class="mycell" type="text" style="width:24px;height:24px;text-align: center;" name="{'x_index':{{ forloop.counter0 }}, 'y_key_id':{{ row.0.id }}, 'mark_id': '{{ elem.id }}' }" value="{{ elem.val }}"/>
                                </label>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </form>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            {% for x in header %}
                <th>{{ x.display }}
                </th>
            {% endfor %}
        </tr>

        </tfoot>
    </table>
{% endblock %}

